*{
    margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'poppins' ,sans-serif;
}

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: linear-gradient(45deg,#0a0a0a,#3a4452);
        
    } 
    .calculeter{
        border:  2px solid gray;
        padding: 20px;
        border-radius: 16px;
        background: transparent;

        box-shadow: 0px 3px 15px rgba(227, 34, 86, 0.5);
    }
    input{
        width:300px ;
        border: none;
        padding: 25px;
        margin: 10px ;
        background: transparent;
        box-shadow:0px 3px 15px rgba(84, 84, 84, 0.1) ;
        font-size: 40px;
        text-align: right;
        cursor: pointer;
        color: rgb(247, 245, 245);

    }
    input::placeholder{
       color: #ffffff;
    }
    button{
        border: none;
        width: 60px;
        height: 60px;
        margin: 10px;
            border-radius: 50%;
            background: transparent;
            font-family: 30px;
            box-shadow: -8px -8px 15px rgba(  255, 255, 255,0.1);
            color: white;
          cursor: pointer;
    }
 .equal{
    background-color: orange;
 }
 .plus{
    color: greenyellow;
 }
